.gallery {
  position: relative;
  overflow: hidden;

  &__nav {
    cursor: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    appearance: none;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 50;

    @media (max-width: $breakpoint-md) {
      display: none;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }

  &__cursor {
    position: absolute;
    height: auto;
    width: calc(30px + 1rem);

    @media (max-width: $breakpoint-md) {
      // Needed to override inline style
      display: none !important;
    }
  }

  .image-gallery-slide .image-gallery-image {
    width: 100%;
    height: 46vw;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;

    @media (max-width: $breakpoint-lg) {
      height: 49vw;
    }

    @media (max-width: $breakpoint-md) {
      height: 56vw;
    }

    @media (min-width: $breakpoint-xxl) {
      height: 37vw;
    }
  }

  .image-gallery-index {
    color: $text-color;
    background-color: transparent;
    font-size: $index-text-font-size;
    padding: $index-text-padding-vertical 0;
    position: relative;
    display: inline-flex;
    float: right;

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }
}