.header {
  background-color: $background-color;
  top: 0;
  left: 0;
  position: sticky;
  width: 100%;
  line-height: 1;
  font-size: $header-font-size;
  font-weight: 600;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0;
  }

  &__logo {}

  &__right {
    display: flex;
    flex-direction: column;
    flex: 0 0 $sidebar-width;
    font-weight: 600;

    @media (max-width: $mobile-breakpoint) {
      flex: 0 0 $sidebar-width-mobile;
    }
  }
  
  &__menu {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    width: 10rem;
  }
}