.project {
  $margin-m: 0.4rem;
  $margin-l: 0.8rem;

  display: flex;
  margin-bottom: 4rem;

  &__main {
    flex: 1 1 auto;
  }

  &__sidebar {
    flex: 0 0 $sidebar-width;
    margin-left: 1rem;

    @media (max-width: $mobile-breakpoint) {
      flex: 0 0 $sidebar-width-mobile;
    }
  }

  &__sidebar-inner {
    width: 10rem;
    max-width: 100%;
  }

  &__images {

    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }

  &__description {
    margin-top: 0.8rem;
    display: flex;

    @media (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
  }

  &__description-column {
    flex: 1 1 50%;

    & + & {
      margin-left: 2rem;

      @media (max-width: $mobile-breakpoint) {
        margin-left: 0;
      }
    }

    p {
      margin-bottom: 0.8rem;
    }
  }

  &__name {
    font-size: $project-name-font-size;
    font-weight: 700;
    margin-bottom: $margin-l;
  }

  &__company {
    margin-bottom: $project-company-margin;
    margin-bottom: $margin-m;
  }

  &__details {
    margin-bottom: $margin-l;
  }

  &__details-item {
    margin-bottom: $margin-m;
  }

  &__details-item-title {
    font-weight: 700;
  }

  &__details-item-subtitle {}

  &__links {

  }

  &__links-item {
    font-weight: 700;
    margin-bottom: $margin-m;
    text-decoration: underline;
  }
}