.home-page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: calc(1rem + 2.4vw);
    width: 65%;
    margin: -10vh auto 0;
    font-weight: 600;

    @media (max-width: $mobile-breakpoint) {
      width: 100%;
    }
  }
}