.home-page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;

  &__title {
    width: 60%;
    margin: -10vh auto 0;
    font-size: $home-title-font-size;
    font-weight: 600;
    line-height: 1;

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
}