.info-page {
  font-size: $info-page-font-size;
  width: 65%;

  @media (max-width: $breakpoint-md) {
    font-size: $info-page-font-size-mobile;
  }

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }

  @media (min-width: $breakpoint-xxl) {
    width: 78%;
  }

  &__row {
    display: flex;
    margin-bottom: 3.5rem;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }

  &__column {
    flex: 1 1 auto;

    &--fixed {
      flex: 0 0 35%;
    }

    & + & {
      margin-left: 3rem;

      @media (max-width: $breakpoint-md) {
        margin-top: 4rem;
        margin-left: 0;
      }
    }
  }

  &__column-title {
    font-weight: 700;
    margin-bottom: 2.5rem;

    @media (max-width: $breakpoint-md) {
    margin-bottom: 2rem;
    }
  }

  &__link-list {}

  &__link-list-item {
    font-weight: 700;

    & + & {
      margin-top: 0.8rem;
    }
  }

  &__experience-list {}

  &__experience-list-item {
    & + & {
      margin-top: 1.8rem;
    }
  }

  &__work-list {}

  &__work-list-item {
    font-weight: 700;

    & + & {
      margin-top: $info-page-list-item-margin;
    }
  }

  &__clients-list {}

  &__clients-list-item {
    font-weight: 700;

    & + & {
      margin-top: $info-page-list-item-margin;
    }
  }
}