.info-page {
  margin-top: 5rem;
  font-size: $dynamic-font-size-xl;
  width: 55%;

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
  }

  &__row {
    display: flex;
    margin-bottom: 6rem;
  }

  &__column {
    flex: 1 1 auto;

    &--fixed {
      flex: 0 0 40%;
    }

    & + & {
      margin-left: 3rem;
    }
  }

  &__column-title {
    font-weight: 700;
    margin-bottom: 4rem;
  }

  &__experience-list {}

  &__experience-list-item {
    & + & {
      margin-top: 1.8rem;
    }
  }

  &__work-list {}

  &__work-list-item {
    font-weight: 700;

    & + & {
      margin-top: 0.5rem;
    }
  }

  &__clients-list {}

  &__clients-list-item {
    font-weight: 700;

    & + & {
      margin-top: 0.5rem;
    }
  }
}