.info-page {
  font-size: $dynamic-font-size;
  width: 50%;

  &__row {
    display: flex;
    margin-bottom: 3rem;
  }

  &__column {
    flex: 1 1 auto;

    &--fixed {
      flex: 0 0 30%;
    }

    & + & {
      margin-left: 2rem;
    }
  }

  &__column-title {
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__experience-list {}

  &__experience-list-item {
    & + & {
      margin-top: 1.5rem;
    }
  }
}