.password-page {
  $inputs-paddings: 0.6rem 1rem;
  $inputs-border-radius: 1rem;

  background-color: $white-color;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &__form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__input,
  &__submit {
    font-size: $font-size-base;
    padding: $inputs-paddings;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    flex: 1 1 auto;
    background-color: $white-color;
    border: 2px solid $black-color;
    padding-right: 3rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $black-color;
    }
  }

  &__input-icon-wrapper {
    position: absolute;
    top: 0;
    right: 1rem;
    width: 0.8rem;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__input-icon-img {
    width: 100%;
    height: auto;
  }

  &__submit {
    background-color: $black-color;
    border: 0;
    color: $white-color;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 0.5rem;

    &:hover {
      background-color: $primary-color;
    }
  }

  &__error {
    font-size: $font-size-base;
    margin-top: $margin-between-lines;
  }
}