.password-page {
  $inputs-border-width: 1px;
  $inputs-border-color: $primary-color;
  $inputs-paddings: 0.6rem 1rem;
  $inputs-border-radius: 1rem;

  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    width: 100%;
    max-width: 400px;
  }

  &__input,
  &__submit {
    font-size: $font-size-base;
    padding: $inputs-paddings;
    border-style: solid;
    border-color: $inputs-border-color;
    border-top-width: $inputs-border-width;
    border-bottom-width: $inputs-border-width;
  }

  &__input {
    flex: 1 1 auto;
    background-color: $white-color;
    border-right: 0;
    border-left-width: $inputs-border-width;
    border-top-left-radius: $inputs-border-radius;
    border-bottom-left-radius: $inputs-border-radius;
  }

  &__submit {
    background-color: $submit-button-color;
    color: $white-color;
    cursor: pointer;
    flex: 0 0 auto;
    border-left: 0;
    border-right-width: $inputs-border-width;
    border-top-right-radius: $inputs-border-radius;
    border-bottom-right-radius: $inputs-border-radius;
  }

  &__error {
    color: $white-color;
    font-size: $font-size-base;
    margin-top: $margin-between-lines;
  }
}