html {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.5vw;

  @media (max-width: $breakpoint-md) {
    font-size: 4vw;
  }
}

body {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-family: "PPNeueMontreal", sans-serif;
  font-weight: 600;
  font-size: $font-size-base;
  line-height: 1.2;
  overflow-y: scroll;

  @media (max-width: $breakpoint-lg) {
    font-size: $font-size-base-mobile;
    overflow-y: auto;
  }

  font-feature-settings: "liga" 0, "rlig" 0, "dlig" 0, "hlig" 0, "smcp" 0;
  -webkit-line-break: after-white-space;
  white-space: pre-wrap;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: $primary-color;
  }
}

input {
  border-radius: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.container {
  $margin-sides: 1.6rem;

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 $body-shift 0 $margin-sides;

  @media (max-width: $breakpoint-lg) {
    margin: 0 $margin-sides;
  }

  @media (min-width: $breakpoint-xxl) {
    margin-right: 25%;
  }
}

.main {
  $margin: 2.5rem;

  margin-top: $margin;
  margin-bottom: $margin;
}

.centered {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}