.header {
  top: 0;
  left: 0;
  position: sticky;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__logo {
    font-size: $font-size-xl;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    font-size: $font-size-xl;
  }
}