@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 800;
  font-style: normal;
  src: url('assets/fonts/PPNeueMontreal-Book.eot');
  src: url('assets/fonts/PPNeueMontreal-Book.eot') format('embedded-opentype'),
       url('assets/fonts/PPNeueMontreal-Book.woff2') format('woff2'),
       url('assets/fonts/PPNeueMontreal-Book.woff') format('woff'),
       url('assets/fonts/PPNeueMontreal-Book.ttf') format('truetype');
}

@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 700;
  font-style: normal;
  src: url('assets/fonts/PPNeueMontreal-Bold.eot');
  src: url('assets/fonts/PPNeueMontreal-Bold.eot') format('embedded-opentype'),
       url('assets/fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
       url('assets/fonts/PPNeueMontreal-Bold.woff') format('woff'),
       url('assets/fonts/PPNeueMontreal-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 600;
  font-style: normal;
  src: url('assets/fonts/PPNeueMontreal-Medium.eot');
  src: url('assets/fonts/PPNeueMontreal-Medium.eot') format('embedded-opentype'),
       url('assets/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
       url('assets/fonts/PPNeueMontreal-Medium.woff') format('woff'),
       url('assets/fonts/PPNeueMontreal-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 500;
  font-style: normal;
  src: url('assets/fonts/PPNeueMontreal-Regular.eot');
  src: url('assets/fonts/PPNeueMontreal-Regular.eot') format('embedded-opentype'),
       url('assets/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
       url('assets/fonts/PPNeueMontreal-Regular.woff') format('woff'),
       url('assets/fonts/PPNeueMontreal-Regular.ttf') format('truetype');
}