$primary-color: #0e1dff;
$white-color: #fff;
$black-color: #000;
$light-grey-color: #999;

$text-color: $black-color;
$background-color: $white-color;
$submit-button-color: lighten($light-grey-color, 25%);
$selection-text-color: $white-color;
$selection-bg-color: $primary-color;

// Base font size for body
$font-size-base: 0.8rem;
$font-size-base-mobile: 1rem;

// Base font size for fixed font size elements
$font-size-base-px: 14px;
$font-size-base-px-mobile: 14px;

// Font size factors
$font-size-base-factor: 0.2rem;

// Font sizes
$font-size-m: 0.9rem;
$font-size-l: 1.05rem;
$font-size-xl: 2.1rem;
$font-size-xxl: 2.3rem;

// Font sizes in pixels
$font-size-m-px: 16px;

// Header
$header-font-size: calc($font-size-base-px + 1rem);
// Home page
$home-title-font-size: $font-size-xl;
$home-title-font-size-tablet: $font-size-xxl;
// Info page
$info-page-font-size: $font-size-l;
$info-page-font-size-mobile: 1.2rem;
// Project
$project-font-size: calc($font-size-base-px + $font-size-base-factor);
$project-name-font-size: calc($font-size-m-px + $font-size-base-factor);

// Gallery
$index-text-font-size: $project-font-size;
$index-text-padding-vertical: 0.6rem;
$gallery-negative-margin-mobile: calc(($index-text-font-size + $index-text-padding-vertical) * -1);

$body-shift: 7rem;

$sidebar-width: 15%;
$sidebar-width-mobile: 11rem;
$sidebar-inner-width: 10rem;
$sidebar-inner-width-tablet: 12rem;
$sidebar-inner-width-mobile: 100%;

$margin-between-lines: 0.4rem;

$info-page-list-item-margin: $margin-between-lines;
$project-company-margin: $margin-between-lines;

// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;